<nav class="container">
    <h1>{{ title }}</h1>
    <p>Spelet går ut på att samla så mycket mat som du kan och på så sätt få så många poäng som möjligt!</p>
    <p>Akta dig för istapparna, går du in i dem kommer du förlora hälften av dina poäng.</p>
</nav>